.contact-card {
  border: 1px solid var(--background-modifier-border);
  margin-bottom: 15px;
  padding: 8px;
  cursor: pointer;
}

.contact-card .name {
  font-size: 1.1em;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contact-card .lastContact {
  font-size: 0.8em;
}

.vl {
  border-left: 1px solid;
  height: 20px;
  margin: 4px 3px 0 3px;
}

.workspace-leaf-content[data-type='contacts-view'] .view-content {
  padding-top: 0;
}